<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Github Finder App</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-danger mb-3">
        <div class="container">
            <a href="/" class="navbar-brand">Github Finder App</a>
        </div>
    </nav>
    <div class="container searchContainer">
        <div class="card card-body search">
            <h3>Search Github Users</h3>
            <p class="lead">Enter a username and reach username information!</p>
            <form action="/" method="post">
                {% csrf_token %}
                <input type="text" name="githubname" placeholder="Github Username" class="form-control">
                <br>
                <button type="submit" class="btn btn-danger">Search</button>
            </form>
        </div>
        {% if profile %}
        <div id="profile">
            <div class="card card-body mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class="img-fluid mb-2" src="{{profile.avatar_url}}">
                        <a href="{{profile.html_url}}" target="_blank" class="btn btn-danger btn-block mb-4">View
                            Profile</a>
                    </div>
                    <div class="col-md-9">
                        <span class="badge badge-primary">Number of Repos: {{profile.public_repos}}</span>
                        <span class="badge badge-secondary">Number of Gists: {{profile.public_gists}}</span>
                        <span class="badge badge-success">Followers: {{profile.followers}}</span>
                        <span class="badge badge-info">Following: {{profile.following}}</span>
                        <br>
                        <br>
                        <ul class="list-group">
                            <li class="list-group-item">Company: {{profile.company}}</li>
                            <li class="list-group-item">Website/Blog: {{profile.blog}}</li>
                            <li class="list-group-item">Location: {{profile.location}}</li>
                            <li class="list-group-item">Member since: {{profile.created_at}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="repos" style="margin-bottom: 100px;">
            <h3 class="page-heading mb-3">Repos</h3>
            {% for repo in repos %}
            <div class="card card-body mb-2">
                <div class="row">
                    <div class="col-md-6">
                        <span>{{repo.name}}</span>
                        <a href="{{repo.html_url}}" target="_blank" class="btn btn-danger"> Repoya Git</a>
                    </div>
                    <div class="col-md-6">
                        <span class="badge badge-primary">Yıldızlar: {{repo.stargazers_count}} </span>
                        <span class="badge badge-primary">İzleyiciler: {{repo.watchers}}</span>
                        <span class="badge badge-success">Forklar: {{repo.forks}}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            {% if message %}
            <div class="alert alert-danger" style="margin-top: 10px;">
                {{message}}
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>